// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  overflow-x: hidden;
}

.navbar-custom {
  background-color: rgb(0, 85, 165);
  height: 15vh;
  max-height: 15vh;
  padding-right: 2rem;
}

.bc-white {
  background-color: white;
}

tr.files th:first-child {
  cursor: pointer;
}

h1.toolkit {
  color: white;
  position: absolute;
  left: 45%;
  a.root {
    color: white;
  }
  //font-size: 24px;
}

.pointer {
  cursor: pointer;
}

.routes {
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
  a {
    //margin-right: 6rem;
  }
}
.collapse {
  display: none!important;
}
.collapse.show {
  display: block!important;
}
#routes {
  flex-direction: row;     /* make main axis horizontal (default setting) */
  justify-content: space-between; /* center items horizontally, in this case */
  text-align: center;
  display: flex;

  a {
    color: rgb(0, 85, 165);
    display: block;
    border-left: 1px solid orange;
    text-align: center;
    width: 100%;
    &.active {
      background-color: rgb(0, 85, 165);
      color: white;
    }
  }

}
@media screen and (max-width:576px) {
  #routes {
    flex-wrap: wrap;
    a:first-child {
      flex-basis: 100%;
    }
  }
}
